#navBar {
    background: linear-gradient(to right, #c04848, #480048);
}

#navBar li {
    margin: 20px;
}

.row {
    margin: 40px;
}

#inputAdd {
    margin-left: 10%;
}

* {
    font-family: Montserrat;
}

h1 {
    font-weight: 800;
}

.hidden {
    display: none;
}

#title {
    font-family: Montserrat;
    font-weight: 800;
    margin: 30px;
    margin-bottom: 50px;
}


.card-title {
    font-family: Montserrat bold;
    font-size: 40px;

}

.card {
    width: 30rem;
}

#contenido {
    /* margin-right: 0px;*/
    margin-right: 220px;
    font-family: Montserrat;
}

.btn btn-dark {
    background: linear-gradient(to right, #c04848, #480048);
}

h5 {
    font-family: Montserrat;
}

.demo-card-wide.mdl-card {
    background-color: linear-gradient(to right, #c04848, #480048);
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: linear-gradient(to right, #c04848, #480048);

   --background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  
  body {
    --padding: 20px;
    background: #fafafa;
    position: relative;
  }