#navBar {
    background: linear-gradient(to right, #c04848, #480048);
}

.row {
    margin: 40px;
}

#inputAdd {
    margin-left: 10%;
}

* {
    font-family: Montserrat;
}

h1 {
    font-weight: 800;
}

.hidden {
    display: none;
}

#title {
    font-family: Montserrat;
    font-weight: 800;
    margin: 30px;
    margin-bottom: 50px;
}

.jumbotron {
    margin-top: 20px;
}